.comment{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.comment > img{
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    box-sizing: initial;
}

.commentBox{
    flex: 1;
}

.commentContent{
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commentContent header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authorAndTime{
    display: flex;
    flex-direction: column;
}

.commentContent header button{
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    line-height: 0;
    border-radius: 2px;

    transition: color 0.2s;
}

.commentContent header button:hover{
    color: var(--red-500);
}

.commentBox footer button{
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: color 0.2s;
}

.commentBox footer button:hover{
    color: var(--green-300);
}

.commentBox footer button svg{
    margin-right: 0.5rem;
}

.commentBox footer button span::before{
    content: "\2022";
    padding: 0 0.25rem;
}